[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dragonking"]
	path = dragonking
	url = https://github.com/rrrlw/dragonking
[submodule "fitscape"]
	path = fitscape
	url = https://github.com/rrrlw/fitscape
[submodule "healthfinance"]
	path = healthfinance
	url = https://github.com/rrrlw/healthfinance
[submodule "helixvis"]
	path = helixvis
	url = https://github.com/rrrlw/helixvis
